@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Tab>>

	
<div class="tab-content" role="tabpanel" id="body-item1-sample-@Model.Content.Title">

	<div class="news-card-slider aegovs-slider-style [&_.slick-slide]:mx-2.5 [&_.slick-list]:-mx-2.5 sm:[&_.slick-slide]:mx-3.5 sm:[&_.slick-list]:-mx-3.5">

		@foreach (BlockListItem<ContentModels.Card> card in Model.Content.Cards!)
		{
			<div>

				<div class="aegov-card card-news">
					<a href="#">
						<img class="lazyload"
							 data-srcset=" @Url.GetSrcSetUrls(card.Content.Image, 400, 290)" src="@card.Content.Image.GetCropUrl(40, 29, quality: 40)" alt="@card.Content.Image.GetAltText()" width="400" height="290" sizes="auto">
					</a>

					<div class="card-content">
						<div class="custom-divide custom-divide-sm flex flex-wrap">
							<div class="text-aeblack-600 text-sm font-normal">  @card.Content.Date.ToString("dd/MM/yyyy")</div>

							@* <a href="#" class="text-sm font-normal">Press release</a> *@
						</div>
						<h5 class="max-md:text-lg line-clamp-3">@Model.Content.Title</h5>
						<p class="line-clamp-3">@card.Content.ShortDescription</p>
						<a href="@card.Content.Link?.Url" class="aegov-link">
							@card.Content.Link?.Name
							<svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
						</a>
					</div>
				</div>

			</div>



		}

	</div>
</div>






































